/* Basic Style */
body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.header__img {
  width: 100%;
}

.header__link {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {

  .header {
    text-align: center;
  }

}

.main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.task {
  width: 56%;
  display: inline-block;
  flex-grow: 1
}

.section-add__task-wrapper {
  display: flex;
}

.section-list {
  margin: 0;
  padding: 0;
}

.section-task-item,
.section-title {
  list-style: none;
}

.task-item__input-text,
.button {
  outline: none;
}

.button {
  background: none;
  border: 0;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.button:hover {
  color: #3a3a3a;
}

/* Heading */
.section-title,
.section-add__new-task {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.task-item__input-text {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #FFF;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.task-item__input-text:focus {
  color: #333;
}

/* New Task */
.section-add__new-task {
  display: block;
  margin: 0 0 20px;
}

.section-add__input {
  width: 318px;
}

/* Task list */
.section-task-item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-task-item > * {
  vertical-align: middle;
}

.task-item__input-check {
  margin: 0 10px;
}

.task-item__label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.task-item__input-text {
  width: 226px;
}

.task-item__button-remove-img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.task-item__button-remove-img:hover {
  transform: rotateZ(0);
}

/* Completed */
.section-completed__list-completed .task-item__label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.section-task-item .task-item__input-text {
  display: none;
}

.section-task-item-edit .task-item__input-text {
  display: inline-block;
  width: 224px;
}

.section-task-item-edit .task-item__label {
  display: none;
}